@model MangaStore.Model.ImageModel.ImageEdit

@{
    ViewData["Title"] = "Edit an Image";
}

<h2>Edit An Image</h2>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<form asp-controller="Image" asp-action="Edit" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="ImageData" for="file">Choose File</label>
        <input asp-for="ImageData" type="file" name="file" id="file" />
        <span asp-validation-for="ImageData" class="text-danger"></span>
    </div>
<div class="form-group">
    <label asp-for="Id" class="control-label"></label>
    <input asp-for="Id" class="form-control" />
    <span asp-validation-for="Id" class="text-danger"></span>
</div>

    <button type="submit">Save</button>
</form>
<div class="back-link">
    <a asp-action="Index" class="back-to-list">Back to List</a>
</div>

<style>
    body 
    {
        font-family: Arial, Helvetica, sans-serif;
        background-color: #f5f5f5;
        color: #333;
    }
    .back-link 
    {
        display: inline-block;
        padding: 10px 15px;
        color: #2a2525;
        text-decoration: none;
        background-color: rgb(200, 203, 211);
        border-radius: 4px;
        transition: background-color 0.3s;        
    }

    .back-link:hover 
    {
        text-decoration: none;
        background-color: black;
    }
</style>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
