@model List<MangaStore.Model.ImageModel.ImageCreate>

<h2>Images</h2>
<p>
    <a asp-action="Create">Create An Image</a>
</p>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="data:image/jpeg;base64,@Convert.ToBase64String(item.ImageData)" alt="Image" class="card-img-top" />
                <div class="card-body">
                    <!-- You can add more card content here if needed -->
                </div>
            </div>
        </div>
    }
</div>
