@model List<MangaStore.Model.ImageModel.ImageCreate>

<h2>Images</h2>
<p>
    <a asp-action="Create">Upload An Image</a>
</p>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="data:image/jpeg;base64,@Convert.ToBase64String(item.ImageData)" alt="Image" class="card-img-top" />
                <div class="card-body">
                    <div class="btn-group" role="group" aria-label="Actions">
                        <a class="btn btn-primary" asp-controller="Image" asp-action="Details" asp-route-id="@item.Id">Details</a>
                        <a class="btn btn-warning" asp-controller="Image" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a class="btn btn-danger" asp-controller="Image" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

