@{
    ViewData["Title"] = "Home Page";
}

<style>
    .display-4 {
        color: #ffcc00; 
        font-family: 'Manga Font', cursive, sans-serif; 
    }

    .mangastore-description {
        color: #333; 
        font-size: 1.2em;
        margin-top: 20px;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Welcome To Manga Store</h1>
    <p class="mangastore-description">
        MangaStore is your ultimate destination for a wide range of manga collections. 
        Explore a world of captivating stories, stunning artwork, and unforgettable characters. 
        Find your favorite genres and discover new titles to dive into the exciting universe of manga.
    </p>
    <img src="~/images/mangalogo.png" alt="MangaStore Logo" class="img-fluid" />
</div>
