@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Welcome to MangaStore! This Privacy Policy outlines how we collect, use, disclose, and safeguard your personal information when you use our website and services.
</p>

<h2>Information We Collect</h2>

<p>
    We may collect various types of information when you use MangaStore, including:
</p>

<ul>
    <li><strong>Personal Information:</strong> We may collect personal information such as your name, email address, and other contact details when you register for an account or make a purchase.</li>
    <li><strong>Usage Information:</strong> We collect information about how you interact with our website, including pages visited, time spent on the site, and other analytics data.</li>
    <li><strong>Device Information:</strong> We may collect information about the device you use to access MangaStore, such as device type, operating system, and browser type.</li>
</ul>

<h2>How We Use Your Information</h2>

<p>
    We use the collected information for various purposes, including:
</p>

<ul>
    <li><strong>Providing Services:</strong> To provide and maintain our services, process transactions, and deliver the products you purchase.</li>
    <li><strong>Improving User Experience:</strong> To analyze usage patterns and improve the functionality and content of MangaStore.</li>
    <li><strong>Communications:</strong> To send you updates, newsletters, and promotional materials based on your preferences (you can opt out at any time).</li>
    <li><strong>Customer Support:</strong> To respond to your inquiries, provide customer support, and address user issues.</li>
</ul>

<h2>Information Sharing and Disclosure</h2>

<p>
    We do not sell, trade, or otherwise transfer your personal information to third parties without your consent. However, we may share information with trusted third parties who assist us in operating our website, conducting business, or servicing you.
</p>

<h2>Security</h2>

<p>
    We implement security measures to protect your personal information. However, please be aware that no method of transmission over the internet or electronic storage is completely secure, and we cannot guarantee absolute security.
</p>

<h2>Your Choices</h2>

<p>
    You have the right to review and update your personal information or opt-out of receiving certain communications. You can manage your preferences by logging into your MangaStore account.
</p>

<h2>Changes to This Privacy Policy</h2>

<p>
    We may update this Privacy Policy to reflect changes in our practices or for other operational, legal, or regulatory reasons. We encourage you to review this page periodically for the latest information.
</p>

<h2>Contact Us</h2>

<p>
    If you have any questions or concerns about this Privacy Policy, please contact us at [your contact email].
</p>

<p>
    Effective Date: [Date]
</p>
