@model MangaStore.Model.GenreTypeModel.GenreTypeDetail

@{
    ViewData["Title"] = "Delete GenreType";
}

<h2>Delete GenreType</h2>

<div class="card">
    <div class="card-body">
        <p class="card-text"><strong>Id:</strong> @Model.Id</p>
        <p class="card-text"><strong>GenreType:</strong> @Model.GenreName</p>
    </div>
    <form asp-action="Delete" method="post">
        <div class="form-group">
            <input type="submit" value="Delete" class="btn btn-danger" />
        </div>
    </form>
</div>

<div class="back-to-list">
    @Html.ActionLink("Back to List", "Index")
</div>

<style>
        .back-to-list {
        margin-top: 20px;
        display: block;
        text-decoration: none;
        color: #007bff;
        transition: color 0.3s;
    }

    .back-to-list:hover {
        color: #0056b3;
    }
</style>